body {
    color: #555;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}

h1 {
    text-align: center;
}

h2 {
  padding-left: 2em;
}

.back {
  position: fixed;
  bottom: 20px;
}
